<%= simple_form_for(resource, as: resource_name, url: user_confirmation_path(confirmation_token: @original_token)) do |form| %>
  <% devise_error_messages! %>
  <div class="form inputs">
    <%= form.input :password, input_html: { autofocus: true } %>
    <%= form.input :password_confirmation %>
    <%= form.submit %>
  </div>
<% end %>
